@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800|Dancing+Script:400);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #121212; }

body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row; }

img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 13px;
  width: 40%;
  height: 60%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.title-name-1{
  text-align: left;
  font-size: 10pt;
  height: auto;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}


li a{
  color: blue;
}

li{
  font-size: 15pt;
}

.section-dec{
  position: relative;
  height: 100vh;
  width: 100%;
}

h1{
  text-align: center;
  font-size: 30pt;
}

p{
  font-size: 15pt;
}

.title-name{
  text-align: left;
  font-size: 10pt;
  height: auto;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.line{
  width: 100%
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.sidebar {
  background-color: #E8E8E8;
  height: 100%;
  width: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 47px; }
  .sidebar nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 360px; }
    .sidebar nav a {
      transform: rotate(-90deg);
      text-decoration: none;
      font-family: "Avenir Next";
      font-weight: 700;
      font-size: 13px;
      letter-spacing: 1px; }
      .sidebar nav a:nth-child(1) {
        margin-bottom: -15px; }
      .sidebar nav a:nth-child(5) {
        margin-top: -10px; }



.indicator {
  height: 22px;
  width: 22px;
  border-radius: 100px;
  background-color: #F75A5D; }

.image {
  flex: 1;
  position: relative;
  background-color: yellow;
  background-size: cover;
  background-position: center; }

.content {
  position: relative;
  width: 45%;
  overflow-y: scroll; }

